.color_block {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.color {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    display: inline-block;
    width: 90px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
}

.color_out {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    font-family: 'Courier New', Courier;
    font-size: 19px;
    font-weight: 600;
    color: black;
    border-radius: 6px;
    pointer-events: none;
}