.log {
    padding: 6px;
    margin: 5px 0;
    height: 150px;
    overflow: auto;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--accent);
    background: var(--back);
    resize: vertical;
}

.log p {
    margin: 0;
}

.log .info {
    color: var(--font);
}

.log .err {
    color: red;
}

.log .warn {
    color: rgb(255, 162, 0);
}

.log::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.log::-webkit-scrollbar-track {
    background: #0000;
}

.log::-webkit-scrollbar-thumb {
    background: var(--font_tint);
    border-radius: 4px;
}