.select {
    max-height: 350px;
    overflow-y: auto;
    padding: 0;
}

.select::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.select::-webkit-scrollbar-track {
    display: none;
}

.select::-webkit-scrollbar-thumb {
    background: var(--back);
    border-radius: 4px;
}

.option {
    font-size: 19px;
    padding: 6px 8px;
    min-height: 23px;
}

.option:hover {
    background: var(--back);
}

.option.active {
    background: var(--accent) !important;
}

.select .hidden {
    display: none;
}

.select .title {
    padding: 6px 8px;
    cursor: default;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background: var(--back);
    color: var(--font_tint);
}