.date {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.date_block {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}