.icon {
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    background-color: var(--font_tint);
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
}

/* https://svgomg.net/ */
/* https://yoksel.github.io/url-encoder/ */
/* https://www.untitledui.com/free-icons */
.icon.bars {
    --svg: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 82c0-20 16-35 35-35h417a35 35 0 0 1 0 69H46c-19 0-35-15-35-34Zm0 173c0-19 16-34 35-34h417a35 35 0 0 1 0 69H46c-19 0-35-15-35-35Zm486 174c0 19-15 34-34 34H46a35 35 0 1 1 0-69h417c19 0 34 15 34 35Z'/%3E%3C/svg%3E");
}

.icon.moon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M17.39 15.14A7.33 7.33 0 0 1 11.75 1.6c.23-.11.56-.23.79-.34a8.19 8.19 0 0 0-5.41.45 9 9 0 1 0 7 16.58 8.42 8.42 0 0 0 4.29-3.84 5.3 5.3 0 0 1-1.03.69z'/%3E%3C/svg%3E");
}

.icon.key {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M336 352a176 176 0 1 0-168-122L7 391c-4 5-7 11-7 17v80c0 13 11 24 24 24h80c13 0 24-11 24-24v-40h40c13 0 24-11 24-24v-40h40c6 0 13-2 17-7l33-33c17 5 35 8 54 8zm40-256a40 40 0 1 1 0 80 40 40 0 1 1 0-80z'/%3E%3C/svg%3E");
}

.icon.upload {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M64 0C29 0 0 29 0 64v384c0 35 29 64 64 64h256c35 0 64-29 64-64V160H256c-18 0-32-14-32-32V0H64zm192 0v128h128L256 0zm-40 408a24 24 0 1 1-48 0V306l-31 31c-9 9-25 9-34 0s-9-25 0-34l72-72c9-9 25-9 34 0l72 72c9 9 9 25 0 34s-25 9-34 0l-31-31v102z'/%3E%3C/svg%3E");
    width: 22px;
}

.icon.create {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M0 64A64 64 0 0 1 64 0h160v128a32 32 0 0 0 32 32h128v38.6a176 176 0 0 0-54.3 312.7c-3.2.5-6.4.7-9.7.7H64a64 64 0 0 1-64-64V64zm384 64H256V0l128 128zm48 96a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm16 80c0-8.8-7.2-16-16-16s-16 7.2-16 16v48h-48c-8.8 0-16 7.2-16 16s7.2 16 16 16h48v48c0 8.8 7.2 16 16 16s16-7.2 16-16v-48h48c8.8 0 16-7.2 16-16s-7.2-16-16-16h-48v-48z'/%3E%3C/svg%3E%0A");
    width: 34px;
}

.icon.cloud {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath d='M256 32A160 160 0 0 0 96 200a144 144 0 0 0 48 280h368a128 128 0 0 0 26-253c4-11 6-23 6-35a96 96 0 0 0-149-80c-28-48-80-80-139-80zm-85 222c23 0 42 8 55 22 14 14 21 34 21 59s-7 45-21 59a72 72 0 0 1-54 21c-23 0-42-7-55-21a80 80 0 0 1-21-58c0-16 3-29 7-40 4-8 9-15 15-21 6-7 13-11 20-14 10-4 21-7 33-7zm89 3h124v26h-46v129h-32V283h-46v-26zm172 0h34l62 155h-34l-14-35h-62l-13 35h-33l60-155zm-260 24c-13 0-24 5-32 14-7 8-11 22-11 40 0 17 4 31 12 40s18 13 31 13c12 0 22-4 30-13s12-23 12-41-3-31-11-40c-8-8-18-13-31-13zm277 12-21 58h42l-21-58z'/%3E%3C/svg%3E");
    width: 38px;
}

.icon.cross {
    --svg: url("data:image/svg+xml,%3Csvg viewBox='17 82 350 350' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M343 151a32 32 0 0 0-46-46L192 211 87 105a32 32 0 0 0-46 46l106 105L41 361a32 32 0 0 0 46 46l105-106 105 106a32 32 0 0 0 46-46L237 256l106-105z'/%3E%3C/svg%3E");
}

.icon.edit {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M472 22a56 56 0 0 0-80 0l-30 30 98 98 30-30c22-22 22-58 0-80l-18-18zM172 242c-6 6-10 13-13 22l-30 88a24 24 0 0 0 31 31l89-30c8-3 15-7 21-13l168-168-98-98-168 168zM96 64c-53 0-96 43-96 96v256c0 53 43 96 96 96h256c53 0 96-43 96-96v-96a32 32 0 1 0-64 0v96c0 18-14 32-32 32H96c-18 0-32-14-32-32V160c0-18 14-32 32-32h96a32 32 0 1 0 0-64H96z'/%3E%3C/svg%3E%0A");
    width: 17px;
    height: 17px;
}

.icon.arrow {
    --svg: url("data:image/svg+xml,%3Csvg viewBox='-53 21 470 470' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M311 233c12 13 12 33 0 46L119 471a32 32 0 0 1-46-46l170-169L73 87a32 32 0 0 1 46-46l192 192z'/%3E%3C/svg%3E");
}

.icon.arrow.left {
    transform: rotate(-180deg);
}

.icon.arrow.down {
    transform: rotate(90deg);
}